<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Users list</title>
    <link rel="stylesheet" type="text/css"
          href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/theme.css}"/>
</head>
<body>
<div th:replace="header :: page"></div>

<div class="list-group center-block text-center" style="width: 30%">
    <h2 style="color: #0077ff">Users list</h2>
    <div th:each="user : ${users}">
        <a class="list-group-item"  th:href="@{'/admin/user_details/{id}'(id=${user.id})}"
           target="_blank" th:text="|${user.firstName} ${user.lastName} (${user.login})|">
        </a>
    </div>
</div>

</body>
</html>