<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Create talk</title>
    <link rel="stylesheet" type="text/css"
          href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/theme.css}"/>
    <script src="/js/checkbox.js" defer></script>
</head>
<body>
<div th:replace="header :: page"></div>
<div class="form-group">
    <h1 style="color: #0077ff; text-align: center">Create talk</h1>
    <br/>
    <form th:action="@{/create_talk}" th:object="${talkForm}" method="post">
        <div class="text-center">
            <label for="name" style="font: caption; text-align: center">
                Name talk:
            </label>
            <input type="text" class="form-control center-block" style="width: 400px"
                   name="name" id="name" th:field="*{name}" th:value="${param.name}"/>
            <div th:each="error : ${#fields.errors('name')}">
                <span style="color:red;font-style:italic;" th:text="${error}"></span>
            </div>
            <br/>
        </div>
        <div class="text-center" th:if="${not #lists.isEmpty(users)}">
            <label style="font: caption;" for="users">Add users:</label>
        </div>
        <div class="container" id="users" style="width: 440px">
            <div class="list-group">
                <div th:each="contact : ${users}" th:if="${contact.login} != ${owner_login}">
                    <div class="list-group-item" th:id="${contact.id}" onclick="changeChoose(this)">
                        <input type="checkbox" th:id="|${contact.id}-check|" name="check" th:field="*{users}"
                               th:value="${contact.login}" class="hidden">
                        <span style="text-align: left"
                              th:text="| ${contact.firstName} ${contact.lastName} (${contact.login})|">
                        </span>
                        <span class="badge hidden" th:id="|${contact.id}-badge|">&checkmark;</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group center-block text-center">
            <button type="submit" style="width: 80px" class="btn btn-info">Ok</button>
        </div>
    </form>
</div>
</body>
</html>