<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title th:text="${talk.name}">Talk</title>
    <link rel="stylesheet" type="text/css"
          href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/theme.css}"/>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/app.js" defer></script>
</head>
<body>
<div th:replace="header :: page"></div>

<!--<a th:href="@{/user_page/{id}(id=${user.id})}">Return to user page</a>-->

<h1 th:text="|${user.firstName} ${user.lastName}|">Hello!</h1>
<h1 th:text="|Name talk: ${talk.name}|">Hello!</h1>

<div>
    <details>
        <summary>Show users in talk</summary>
        <ul>
            <li th:each="spiker : ${talk.users}"
                th:text="${spiker.firstName} + ' ' + ${spiker.lastName} + ' ' +
                ((${spiker.login} == ${talk.owner.login}) ? '(owner)' : '')">
            </li>
        </ul>
    </details>
    <br/>
    <!--<h1 th:text="${#s}"></h1>-->
</div>

<div id="messageArea">
    <div th:each="message : ${messages}">
        <fieldset th:id="${message.id}">
            <legend th:text="${#dates.format(message.date, 'd MMM yyyy HH:mm')}"></legend>
            <h3 th:text="|${message.author.firstName} ${message.author.lastName}:|">...</h3>
            <p th:text="${message.text}">...</p>
            <div th:if="(${message.nameAttachedFile} != null) and (${message.nameAttachedFile} != '')">
                <form th:action="@{/download_file}" method="post" name="downloadForm">
                    <input type="hidden" th:name="idTalk" th:value="${talk.id}"/>
                    <input type="hidden" th:name="idMessage" th:value="${message.id}"/>
                    <p><input type="submit" value="Download file" name="download"
                              th:text="' ' + ${message.nameAttachedFile}"></p>
                </form>
            </div>
            <div th:if="${user.id} == ${message.author.id}">
                <form th:action="@{/delete_message}" method="post" name="deleteForm">
                    <input type="hidden" th:name="idMessage" th:value="${message.id}"/>
                    <input type="hidden" th:name="idTalk" th:value="${talk.id}"/>
                    <p><input type="submit" value="Delete message" name="delete"></p>
                </form>
            </div>
        </fieldset>
        <br/>
    </div>
</div>

<div>
    <form id="messageForm" th:action="@{/write_message}" method="post" enctype="multipart/form-data">
        <input type="hidden" id="id_talk" th:name="id" th:value="${talk.id}"/>
        <input type="hidden" id="id_user" th:name="id" th:value="${user.id}"/>
        <p><label for="message">Input your message:<label></p>
        <textarea id="message" name="message" rows="5" cols="50"></textarea>
        <p><input type="file" id="file_input" name="file"></p>
        <input type="submit" value="Send">
    </form>
</div>

</body>
</html>
