<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Login</title>
    <link rel="stylesheet" type="text/css"
          href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/theme.css}"/>
</head>
<body>
<div th:replace="header :: page"></div>


<div class="form-group text-center">
    <h1 style="color: green">Login</h1>
    <br/>
    <div th:if="${param.error}" class="alert alert-danger center-block" style="width: 40%">
        Invalid username or password.
    </div>
    <form th:action="@{/j_spring_security_check}" method="post">
        <label for="login" style="font: caption">Login: </label>
        <input type="text" class="form-control center-block" style="width: 300px" name="login" id="login"/>
        <br/>
        <label for="password" style="font: caption">Password: </label>
        <input type="password" class="form-control center-block" style="width: 300px" name="password" id="password"/>
        <br/>
        <button type="submit" style="width: 80px" class="btn btn-success">Ok</button>
    </form>
</div>
</body>
</html>